body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: blueviolet;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input,
  select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 15px;
  }
  
  textarea {
    width: 100%;
    margin-top: 5px;
  }
  
  #payment-container,
  #feedback-container {
    margin-top: 20px;
  }
  
  #payment-container button,
  #feedback-container button {
    display: block;
    margin-top: 10px;
  }
  